
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

body {
    background-image: url(./watercolor.png);
    background-color: slategray;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;

}

/*Homepgbackground*/

.homepgbackground {
    background-image: url(./watercolor.png);
    background-color: slategray;
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
  }

  
/*NavBarStyling*/
.navbar {
    outline-style: solid;
    outline-color: slategray;
   
}

#search-button {
    border-color: #ffc0cb;
    font: 16px;
    color: black;

}

#search-button:hover {
    background-color: #ffc0cb;
    border-color: #ffc0cb;
}

.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.navbar-nav {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

/*Aboutpennyonhomepg*/

#learnmorebutton {
    background-color: #ffc0cb!important;
    border: none;

}

#learnmorebutton:hover  {
    background-color: slategray!important;
    
}

/*Quote*/
#quote {
    background-color: #ffc0cb!important;
}

/*Social Media*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #55ACEE;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background:#55ACEE;
    color: white;
  }




/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}